<configuration>
    <property> 
        <name>dfs.secondary.http.address</name>
        <value>master01:50090</value>
        <description>SecondaryNameNodeHostname</description>
    </property>
</configuration>
