<configuration>
    <property>
        <name>mapreduce.framework.name</name>
        <value>yarn</value>
    </property>
    <property>
    <name>mapred.job.tracker</name>
        <value>master01:8021</value>
    </property>
</configuration>
